scripts/linuxcnc
scripts/realtime
src/Makefile.inc
src/Makefile.modinc
src/autom4te.cache
src/config.h
src/config.h.in
src/config.log
src/config.status
src/configure
src/emc/motion/halcmd
src/emc/motion/io
src/emc/motion/motion
src/emc/motion/wish
src/libnml/inifile/inivar
src/fakesrc/wish
bin
fakebin
src/emc/task/fmilltask
